/* Navigation BAR*/

@font-face {
    src: url('/../assets/fonts/RobotoMono.ttf');
    font-family: 'Roboto Mono';
    font-style: normal;
}

@font-face {
    src: url('/../assets/fonts/BebasNeue.ttf');
    font-family: 'Bebas Neue';
    font-style: normal;
}

@font-face {
    src: url('/../assets/fonts/Inter.ttf');
    font-family: 'Inter';
    font-style: normal;
}

body {
    font-family: "Roboto Mono";
    color: #2B2B2B;
    background-color: rgb(254, 247, 245);
}

.navbar-custom {
    background-color: #FFFFFF;
    padding: 30px 0px;
    background-color: #FFFFFF;
}

.navbar-custom a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #111111;
    margin-right: 25px;
    opacity: 0.7;
}

.navbar-custom .title {
    /*font-weight: 500;*/
    margin: 5px 0 0px 0;
    font-size: 26px;
    font-family: "Bebas Neue";
    text-decoration: none;
}

.text-custom-title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-top: 35px;
}

.text-custom-title-big {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.text-custom-small {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.text-custom-author {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #4F4F4F;
}

.avatar-section {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-top: -35px;
}

.header-custom-medium {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.card {
    background-color: rgb(254, 247, 245);
    border: none;
}

.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.card-description {
}

.custom-tag {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 1px 12px;
    margin-right: 7px;
}

.tag-light-green {
    background: #56F282;
}

.tag-dark-blue {
    background: #00B5FF;
}

.tag-red {
    background: #FF5161;
}

.tag-dark-green {
    background: #00AFA3;
}

.tag-yellow {
    background: #F2C94C;
}

.tag-neutral {
    background-color: #FFFFFF;
}

.btn {
    padding: 0.375rem 1.35rem;
}

.btn-custom-neutral {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 6px;
}

.btn-custom-primary {
    background: #56F282;
    border: 1px solid #000000;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 6px;
}

.btn-custom-warning {
    background: #F2C94C;
    border: 1px solid #000000;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 6px;
}

.btn-custom-danger {
    background: #FF5161;
    border: 1px solid #000000;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 6px;
}

.btn-custom-subscribe {
    background: #FF6CAC;
    border: 1px solid #000000;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 6px;
}

.btn-custom-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.custom-blog-tip {
    background: rgba(218, 221, 64, 0.2);
    border: 1px solid #000000;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.comment-section {
    background-color: #ffffff;
    padding: 0px 20px;
}

.form-control-custom {
    border: 1px solid #2B2B2B;
    border-radius: 8px;
}

.vote-area {
    background: #F5F6FA;
    border-radius: 10px;
    font-size: 14px;
}

.vote-link {
    text-decoration: none;
    color: #2B2B2B;
}

.vote-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

/* <pre></pre> For code blocks */

pre {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px 20px;
}


