/* Navigation BAR*/

@font-face {
    src: url('/../assets/fonts/RobotoMono.ttf');
    font-family: 'Roboto Mono';
    font-style: normal;
}

@font-face {
    src: url('/../assets/fonts/BebasNeue.ttf');
    font-family: 'Bebas Neue';
    font-style: normal;
}

@font-face {
    src: url('/../assets/fonts/Inter.ttf');
    font-family: 'Inter';
    font-style: normal;
}

body{
    font-family: "Roboto Mono";
    color: #2B2B2B;
    background-color: rgb(254,247,245);
}

.navbar-custom {
background-color: #FFFFFF;
    padding: 30px 0px;
    background-color: #FFFFFF;
}

.navbar-custom a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #111111;
    margin-right: 25px;
    opacity: 0.7;
}

.navbar-custom .title {
    /*font-weight: 500;*/
    font-size: 26px;
    font-family: "Bebas Neue";
    text-decoration: none;
}

.btn-custom-primary {
    background-color: rgb(39, 230, 184);;
}

.title-area{
    padding: 70px 0 70px 0;
    background-color: rgb(239,254,255);
}

.title-area-heading{
    font-size: 36px;
    font-weight: 900;
}

.title-area-description{
    color:grey;
    font-weight: 100;
}

.filter-option{
    text-decoration: none;
    margin-right: 20px;
}


